@model HospitalManagementSys.Models.SUPPLIER

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SUPPLIER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SUPPLIERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPPLIERNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMPANYNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPANYNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOBILENO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOBILENO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SUPPLIERID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
